	"Organization
(""Jackie Morton"" isn't a student org)"	Date Received	Sender	Package Type	Monitor Logging Package (Your name)	Comments	E-mail Sent to group by Manager	Receiver Full Name	Receiver JHU Email	Date Picked Up	Monitor Initials
8-0	EXAMPLE ORG	8/3/2019	AMAZON	Large Envelope	Isaiah			Bob	bob@jhu.edu	8/24/19	IG
6-1	DSAGA	6/4/19	StickerMule	Package Box	Kai						
6-2	MSE	6/7/2019	CustomInk	Package Box	Ify						
6-3	WJHU	6/10/2019	TinderboxMusic	Large Envelope	Sanjana						
6-4	dance marathon	6/11/2019	4imprint	Package Box	kai			Abbie	abowma11@jhu.edu	6/12/2019	HS
6-5	DSAGA	6/11/2019	CUStomInk	Package Box	kai						
6-6	DSAGA	6/11/2019	CUStomInk	Package Box	kai						
6-7	DSAGA	6/11/2019	CUStomInk	Package Box	kai						
6-8	DSAGA	6/11/2019	CUStomInk	Package Box	kai						
6-9	MSE	6/11/2019	CUStomInk	Package Box	kai						
6-10	MSE	6/11/2019	Table Throw	Package Envelope	Ify						
6-11	MSE	6/11/2019	Table Throw	Package Envelope	Ify						
6-12	MSE	6/11/2019	Table Throw	Tube	Ify						
6-13	JHU Undergraduate Journal	6/12/2019	Mt. Vernon Prinint	Package Box	Ify						
6-14	JHU Undergraduate Journal	6/12/2019	Mt. Vernon Prinint	Package Box	Ify						
6-15	JHU Undergraduate Journal	6/12/2019	Mt. Vernon Prinint	Package Box							
6-16	Student Org- MSE	6/5/2019	Amazon	Package Box	HS						CC
6-17	Student Org- MSE	6/5/2019	Amazon	Package Envelope	HS						CC
6-18	JHU Newsletter	6/13/2019	USPS	Mail Envelope	WP						
6-19	MSE Symposium	6/13/2019	CustomInk	Package Box	WP						
6-20	MSE Symposium	6/13/2019	White Box (not clear)	Package Box	WP			Siena DeMatteo			CC
6-21	MSE Symposium	6/13/2019	CustomInk	Package Box	WP						
6-22	MSE Symposium	6/13/19	CUstomInk	Package Box	WP						
6-23	WJHU Emily Whitney	6/28/2019	USPS	Package Envelope	EC						
6-24	Agape Campus Christian Fellowship	6/28/2019	Not clear	Mail Envelope	EC						
6-25	MSE	6/28/19	Uptown Press	Package Envelope	EC						CC
6-26	MSE	6/28/19	CUstomInk	Package Box	EC			Siena DeMatteo			CC
6-27	MSE	6/28/19	CUstomInk	Package Box	EC			Siena DeMatteo			CC
6-28	MSE	6/28/19	CUstomInk	Package Box	EC			Siena DeMatteo			CC